<h1><%= @artist.name %></h1>
<ul>
  <% @artist.songs.each do |song| %>
    <li><%= song.title %></li>
  <% end %>
</ul>


<!-- Update the artists show view to list each song for that artist, and use the 
new nested resource route helper to link each song to its corresponding show page.
-->
